.loader-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.loader{
	box-shadow:inset 2px 2px 0px 1px grey;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}